{{define "footer"}}
<div id="contact"
    class="grid grid-cols-1 md:grid-cols-2 auto-rows-max lg:flex flex-wrap flex-row flex-initial grow lg:justify-around justify-start items-stretch bg-slate-800 p-4 lg:p-14 gap-10 basis-1/2">
    <nav class="flex-initial text-center items-center flashing ">
        <div class="mb-5">
            <header class="text-lg text-gray-100"><a class="underline underline-offset-4" href="/locations/north-florida">North Florida</a></header>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service</span> <a href="tel:904-294-7660">904-294-7660</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service</span> <a href="mailto:rparrish@adrpowersystems.com">rparrish@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Sales</span> <a href="tel:904-219-4753">904-219-4753</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Sales</span> <a href="mailto:rchapman@adrpowersystems.com">rchapman@adrpowersystems.com</a>
            </span>
        </div>
    </nav>
    <nav class="flex-initial text-center flex-col flashing ">
        <div class="mb-5">
            <header class="text-lg text-gray-100"><a class="underline underline-offset-4" href="/locations/central-florida">Central Florida</a></header>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service &amp; Sales</span> <a href="tel:727-953-8730">727-953-8730</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Sales</span> <a href="mailto:travis@adrpowersystems.com">travis@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Transmission Service</span> <a href="mailto:todd@adrpowersystems.com">todd@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Electronics Service</span> <a href="mailto:dan@adrpowersystems.com">dan@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Engine Service</span> <a href="mailto:max@adrpowersystems.com">max@adrpowersystems.com</a>
            </span>
        </div>
        <div class="mt-5">
            <a target="_blank" href="http://maps.apple.com/?q=ADR+Power+Systems+6545+125th+Avenue+Largo">
                <span class="font-sans font-thin text-gray-300">
                    Shop:
                    6545 125th Avenue,
                    Largo, Florida, 33773
                </span>
            </a>
        </div>
        <div>
            <a target="blank" href="http://maps.apple.com/?q=ADR+Power+Systems+6560+126th+Avenue+Largo">
                <span class="font-sans font-thin text-gray-300">
                    Office: 6560 126th Avenue,
                    Largo, Florida, 33773
                </span>
            </a>
        </div>
    </nav>
    <nav class="flex-initial text-center flex-col flashing ">
        <div class="mb-5">
            <header class="text-lg text-gray-100"><a class="underline underline-offset-4" href="/locations/south-florida">South Florida</a></header>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service</span> <a href="tel:954-997-1676">954-997-1676</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service</span> <a href="mailto:will@adrpowersystems.com">will@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Sales</span> <a href="tel:954-990-6587">954-990-6587</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Sales</span> <a href="mailto:vikki@adrpowersystems.com">vikki@adrpowersystems.com</a>
            </span>
        </div>
        <div class="mt-5">
            <a target="_blank" href="http://maps.apple.com/?q=ADR+Power+Systems+Contractor+Shed+3+1601+Southwest+20th+Street+3+Fort+Lauderdale">
                <span class="font-sans font-thin text-gray-300">
                    1601 Southwest 20th Street
                </span>
                <br>
                <span class="font-sans font-thin text-gray-300">
                    Contractor Shed #3
                </span>
                <br>
                <span class="font-sans font-thin text-gray-300">
                    Ft. Lauderdale, Florida, 33315
                </span>
            </a>
        </div>
    </nav>
    <nav class="flex-initial text-center flex-col flashing ">
        <div class="mb-5">
            <header class="text-lg text-gray-100"><a class="underline underline-offset-4" href="/locations/michigan">Michigan</a></header>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service &amp; Sales</span> <a href="tel:586-206-7121">586-206-7121</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <a href="mailto:craig@adrpowersystems.com">craig@adrpowersystems.com</a>
            </span>
        </div>
        <div class="mt-5">
            <a target="_blank" href="http://maps.apple.com/?q=Z+F+Marine+44318+Macomb+Industrial+Drive+Clinton+Township">
                <span class="font-sans font-thin text-gray-300">
                    44318 Macomb Industrial Drive
                </span>
                <br>
                <span class="font-sans font-thin text-gray-300">
                    Clinton Township, Michigan, 48036
                </span>
            </a>
        </div>
    </nav>
    <nav class="flex-initial text-center flex-col flashing">
        <div class="mb-5">
            <header class="text-lg text-gray-100"><a class="underline underline-offset-4" href="/locations/virginia">Virginia</a></header>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Service &amp; Sales</span> <a href="tel:757-401-4158">757-401-4158</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Engine Service</span> <a href="mailto:shannan@adrpowersystems.com">shannan@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Electronics Service</span> <a href="mailto:shannan@adrpowersystems.com">shannan@adrpowersystems.com</a>
            </span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <span class="font-bold">Transmission Service</span> <a href="mailto:matt@adrpowersystems.com">matt@adrpowersystems.com</a>
            </span>
        </div>
        <div class="mt-5">
            <a target="_blank" href="http://maps.apple.com/?q=936+Professional+Place+Unit+A9+Chesapeake+VA+23320">
                <span class="font-sans font-thin text-gray-300">
                    936 Professional Place
                </span>
                <br>
                <span class="font-sans font-thin text-gray-300">
                    Unit A9
                </span>
                <br>
                <span class="font-sans font-thin text-gray-300">
                    Chesapeake VA, 23320
                </span>
            </a>
        </div>
    </nav>
    <nav class="flex-initial justify-center items-center flex flex-row text-3xl text-center text-gray-300">
        <a aria-label="Facebook page for ADR Power Systems" target="_blank" href="//facebook.com/adrpowersystems">
            <i class="fa-brands fa-facebook p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
        <a aria-label="Instagram page for ADR Power Systems" target="_blank" href="//instagram.com/adrpowersystems">
            <i class="fa-brands fa-instagram p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
        <a aria-label="Twitter page for ADR Power Systems" target="_blank" href="//twitter.com/ADRPowerSystems/">
            <i class="fa-brands fa-twitter p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
        <a aria-label="LinkedIn page for ADR Power Systems" target="_blank" href="//www.linkedin.com/company/adr-power-systems-inc/">
            <i class="fa-brands fa-linkedin p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
    </nav>
</div>
<script data-goatcounter="https://anataled.goatcounter.com/count"
        async src="/assets/js/count.js"></script>
{{ template "script" . }}
{{end}}
