{{define "head"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
	<link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <meta name="robots" content="noindex">
    <link href="/assets/font/merriweathersans.woff2" as="font" type="font/woff2">
    <link href="/assets/font/merriweather.woff2" as="font" type="font/woff2">
    <link href="/assets/font/cutivemono.woff2" as="font" type="font/woff2">
    <style>{{ $.CSS }}</style>
    <link rel="stylesheet" as="style" href="/animate.min.css" />
    <script defer src="/index.js"></script>
    <script defer src="/fa.js"></script>
    <meta charset='UTF-8'>
    <meta name='keywords' content='your, tags'>
    <meta name='description' content='150 words'>
    <meta name='subject' content='Marine repair and sales'>
    <meta name='copyright' content='ADR Power Systems'>
    <meta name='language' content='EN'>
    <meta name='revised' content='Sunday, July 18th, 2010, 5:15 pm'>
    <meta name='abstract' content=''>
    <meta name='topic' content=''>
    <meta name='summary' content=''>
    <meta name='Classification' content='Business'>
    <meta name='author' content='name, email@hotmail.com'>
    <meta name='designer' content=''>
    <meta name='reply-to' content='email@hotmail.com'>
    <meta name='owner' content=''>
    <meta name='url' content='https://adrpowersystems.com'>
    <meta name='identifier-URL' content='https://adrpowersystems.com'>
    <meta name='pagename' content='ADR Power Systems, sales and service'>
    <meta name='category' content=''>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>

    <meta name='og:title' content='ADR Power Systems'>
    <meta name='og:type' content='website'>
    <meta name='og:url' content='https://adrpowersystems.com'>
    <meta name='og:image' content='https://adrpowersystems.com/assets/image/webp/logo.webp'>
    <meta name='og:site_name' content='ADR Power Systems'>
    <meta name='og:description' content='A group of U.S. Marines, under command of...'>

    <meta name='fb:page_id' content='43929265776'>
    <meta name='og:email' content='me@example.com'>
    <meta name='og:phone_number' content='650-123-4567'>
    <meta name='og:fax_number' content='+1-415-123-4567'>

    <meta name='twitter:card'>
    <meta name='twitter:site' content="ADRPowerSystems">
    <meta name='twitter:creator'>
    <meta name='twitter:creator:id'>
    <meta name='twitter:description' content="Marine engine, transmission and power supply specialists">
    <meta name='twitter:title' content="ADR Power Systems">
    <meta name='twitter:image:alt' content="ADR Power Systems Logo">
    <meta name='twitter:image' content="https://adrpowersystems.com/assets/image/webp/logo.webp">
    {{template "script" .}}
    <title>ADR Power Systems</title>
</head>
{{end}}
