{{define "head"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" as="style" href="/assets/css/animate.min.css" />
    <link rel="stylesheet" as="style" href="/assets/css/main.min.css" />
    <link rel="stylesheet" as="style" href="/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" as="style" href="/assets/css/solid.min.css" />
    <link rel="stylesheet" as="style" href="/assets/css/brands.min.css" />
    <script defer src="/assets/js/alpine.min.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <meta charset='UTF-8'>
    <meta name='keywords' content='your, tags'>
    <meta name='subject' content='Marine repair and sales'>
    <meta name='copyright' content='ADR Power Systems'>
    <meta name='language' content='EN'>
    <meta name='url' content='https://adrpowersystems.com'>
    <meta name='pagename' content='ADR Power Systems, sales and service'>
    <meta name='HandheldFriendly' content='True'>

    <meta name='og:title' content='ADR Power Systems'>
    <meta name='og:type' content='website'>
    <meta name='og:url' content='https://adrpowersystems.com'>
    <meta name='og:image' content='https://adrpowersystems.com/assets/image/webp/logo.webp'>
    <meta name='og:site_name' content='ADR Power Systems'>
    <meta name='og:description' content='Marine engine, transmission and power supply specialists'>

    <meta name='fb:page_id' content='43929265776'>
    <meta name='og:email' content='me@example.com'>
    <meta name='og:phone_number' content='650-123-4567'>
    <meta name='og:fax_number' content='+1-415-123-4567'>

    <meta name='twitter:card'>
    <meta name='twitter:site' content="ADRPowerSystems">
    <meta name='twitter:creator'>
    <meta name='twitter:creator:id'>
    <meta name='twitter:description' content="Marine engine, transmission and power supply specialists">
    <meta name='twitter:title' content="ADR Power Systems">
    <meta name='twitter:image:alt' content="ADR Power Systems Logo">
    <meta name='twitter:image' content="https://adrpowersystems.com/assets/image/webp/logo.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <title>ADR Power Systems</title>
    <style>
        .swiper {
            max-width: 100%;
            height: 100%; 
            max-height: 100vw;
            min-height: 0;
            min-width: 0;
            max-width: 100vw; 
            width: 100%;
            overflow: hidden;
        }
        .swiper-slide > div {
            height: 100%;
            max-height: 100vw;
            min-height: 0;
        }
    </style>
</head>
{{end}}