{{define "head"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
	<link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <meta name="robots" content="noindex">
    <link rel="preload" href="/assets/font/merriweathersans.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/font/merriweather.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/font/cutivemono.woff2" as="font" type="font/woff2">
    <style>{{ $.CSS }}</style>
    <link rel="preload" rel="stylesheet" as="style" href="/animate.min.css" />
    <script defer src="/index.js"></script>
    <script defer src="/fa.js"></script>
    {{template "script" .}}
    <title>ADR Power Systems</title>
</head>
{{end}}
