{{define "locationName"}}Central Florida{{end}}
{{define "locationDesc"}}Serving the greater Tampa Bay and Orlando regions.{{end}}
{{define "locationContacts"}}
<ul>
    <li class="gap-2 align-middle inline-block"><i class="fa-solid fa-square-phone"></i><span class="font-bold ml-2">Service &amp; Sales </span><a href="tel:+7279538730">727-953-8730</a></li>
    <li><i class="fa-solid fa-square-envelope"></i><a href="mailto:travis@adrpowersystems.com"><span class="font-bold ml-2">Sales: </span>travis@adrpowersystems.com</a></li>
    <li><i class="fa-solid fa-square-envelope"></i><a href="mailto:todd@adrpowersystems.com"><span class="font-bold ml-2">Tranmission Service </span>todd@adrpowersystems.com</a></li>
    <li><i class="fa-solid fa-square-envelope"></i><a href="mailto:dan@adrpowersystems.com"><span class="font-bold ml-2">Electronics Service </span>dan@adrpowersystems.com</a></li>
    <li><i class="fa-solid fa-square-envelope"></i><a href="mailto:max@adrpowersystems.com"><span class="font-bold ml-2">Engine Service </span>max@adrpowersystems.com</a></li>
</ul>
{{end}}
{{define "locationMap"}}
<iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgSgP2zHlwogRWqvywpZK9qY&key=AIzaSyBxnxFM6_WBsr6Xf0Bq-l-8TNXZy8O9x1Q"></iframe> 
{{end}}
{{define "locationAddress"}}
<h1 class="text-4xl font-serif mb-2">Address</h1>
<h2 class="text-xl">Shop</h2>
<span>6545 125th Avenue</span>
<br>
<span>Largo, Florida, 33773</span>
<h2 class="text-xl">Office</h2>
<span>6560 126th Avenue</span>
<br>
<span>Largo, Florida, 33773</span>
{{end}}