{{define "locationName"}}North Florida{{end}}
{{define "locationDesc"}}Servicing the Panhandle, Georgia, Alabama, and Texas.{{end}}
{{define "locationContacts"}}
<ul>
    <li class="gap-2 align-middle inline-block"><i class="fa-solid fa-square-phone"></i><span
            class="font-bold ml-2">Service &amp; Sales </span><a href="tel:+9042947660">904-294-7660</a>
    </li>
    <li><i class="fa-solid fa-square-envelope"></i><a class="ml-2"
            href="mailto:rparrish@adrpowersystems.com">rparrish@adrpowersystems.com</a></li>
</ul>
{{end}}
{{define "locationMap"}}
<p>Welcome to our North Florida service location! Located in the beautiful coastal region, we are dedicated to providing
    reliable marine transmission repair and diesel engine repair services to boat and vessel owners in this area. Our
    skilled technicians are ready to handle all your transmission and engine needs with precision and expertise. Trust
    us to keep your vessel running smoothly and efficiently.</p>
{{end}}
{{define "locationAddress"}}
{{end}}