{{define "locationName"}}South Florida{{end}}
{{define "locationDesc"}}Servicing the Miami and Key West.{{end}}
{{define "locationContacts"}}
<ul>
    <li class="gap-2 align-middle inline-block"><i class="fa-solid fa-square-phone"></i><span class="font-bold ml-2">&nbsp;&nbsp;Service &amp; Sales: </span><a href="tel:+9042947660">904-294-7660</a></li>
    <li><i class="fa-solid fa-square-envelope"></i><a href="mailto:rparrish@adrpowersystems.com">&nbsp;&nbsp;rparrish@adrpowersystems.com</a></li>
</ul>
{{end}}
{{define "locationMap"}}
<iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/view?zoom=11&center=30.4383%2C-84.2807&key=AIzaSyBxnxFM6_WBsr6Xf0Bq-l-8TNXZy8O9x1Q"></iframe> 
{{end}}