{{define "index"}}

{{template "head" .}}

<body x-data>
    <div class="flex overflow-x-hidden flex-col bg-gradient-to-tr from-sky-700 to-blue-900">
        {{template "nav" .}}
        <div class="flex-initial flex justify-center h-screen w-screen relative">
            <picture>
                <source srcset="/assets/image/avif/ronan.avif" type="image/avif">
                <img alt="Background image with a tugboat sailing into the sunset" src="/assets/image/ronan.jpeg"
                    class="absolute w-full h-full lg:h-5/6 z-10 brightness-50 object-cover">
                </img>
            </picture>
            <div id="viewport" class="flex flex-col z-20 w-full justify-start gap-10">
                <div class="flex flex-col lg:flex-row justify-center items-center h-4/6 z-20 basis-1/2">
                    <span
                        class="text-slate-100 font-serif md:ml-10 text-3xl  lg:text-6xl 2xl:text-8xl leading-loose basis-1/2 text-center lg:text-left flex justify-center items-center">
                        Marine products<br>tailored to your needs.</span>
                    <span
                        class="text-slate-100 lg:mr-10 text-sm lg:text-lg basis-1/2 text-center justify-center items-center leading-loose tracking-wide p-6 hidden md:block">
                        From service to re-powers, diagnostics to overhauls, parts to upgrades, we tailor marine
                        products to
                        fit your specific operating needs. ADR is proud to represent products that are reliable, readily
                        accessible, and serviceable wherever your vessel takes you. Call us and one of our professionals
                        will help you choose the right product to suit your mission or get you up and running in no
                        time.
                    </span>
                </div>
                <div id="slider" class="cursor-grab  lg:mx-32 text-lg font-bold basis-1/6">
                    <div class="gap-16 no-scrollbar grid grid-flow-col scroll-p-5 auto-cols-max md:auto-cols-min auto-rows-max snap-x snap-mandatory text-center items-center"
                        id="inner">
                        <a aria-label="Browse ZF transmissions" href="/transmissions?q=ZF%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture class="w-1/3">
                                    <source srcset="/assets/image/webp/zf_sm.webp">
                                    <img loading="lazy" src="/assets/image/zf_sm.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a  aria-label="Browse Baudoin inboard engines" href="/inboard_engines?q=Baudouin%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture>
                                    <source srcset="/assets/image/webp/baudouin_sm.webp">
                                    <img loading="lazy" src="/assets/image/baudouin_sm.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Alamarin-Jet waterjets" href="/waterjets?q=Alamarin-Jet%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture class="object-cover">
                                    <source srcset="/assets/image/webp/alamarinjet_sm.webp">
                                    <img loading="lazy" src="/assets/image/alamarinjet_sm.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Neander outboard engines" href="/outboard_engines?q=Neander%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture>
                                    <source srcset="/assets/image/webp/dtorque.webp">
                                    <img loading="lazy" class="w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 object-contain" src="/assets/image/dtorque.jpg" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse OXE outboard engines" href="/outboard_engines?q=OXE%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture>
                                    <source srcset="/assets/image/webp/OXE_logo.BlackOrange.webp">
                                    <img loading="lazy" src="/assets/image/OXE_logo.BlackOrange.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Glendinning electronics" href="/glendinning">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture class="aspect-video object-cover">
                                    <source srcset="/assets/image/webp/glendinning_sm.webp">
                                    <img loading="lazy" src="/assets/image/glendinning_sm.webp" alt="">
                                </div>
                                </picture>
                        </a>
                        <a aria-label="Browse Kohler generators" href="/generators?q=Kohler%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture>
                                    <source srcset="/assets/image/webp/kohler.webp">
                                    <img loading="lazy" src="/assets/image/kohler.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Northern Lights generators" href="/generators?q=Northern%20Lights%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture class="object-contain">
                                    <source srcset="/assets/image/webp/northern_lights.webp">
                                    <img loading="lazy" src="/assets/image/northern_lights.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Scania inboard engines" href="/inboard_engines?q=Scania%20">
                            <div
                                class="snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16">
                                <picture class="object-contain">
                                    <source srcset="/assets/image/webp/scania_sm.webp">
                                    <img loading="lazy" src="/assets/image/scania_sm.png" alt="">
                                </picture>
                            </div>
                        </a>
                        <a aria-label="Browse Caterpillar engines" href="/caterpillar">
                            <div
                                class="flex-col snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16 text-center">
                                <span style="-webkit-text-stroke: 0.1px black;" class="text-xl font-bold text-[#FFCD11]">CATERPILLAR</span>
                                <span class="text-xl font-bold">Engines</span>
                            </div>
                        </a>
                        <a aria-label="Browse Twin Disc transmissions" href="/transmissions?q=Twin%20Disc%20">
                            <div
                                class="flex-col snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16 text-center">
                                <span class="text-xl font-bold text-[#D7322F]">Twin Disc</span>
                                <span class="text-xl font-bold">Gears/PTOs</span>
                            </div>
                        </a>
                        <div
                            class="flex-col snap-center w-40 h-20 md:w-60 md:h-30 lg:w-75 lg:h-35 flex justify-center items-center bg-white rounded-lg p-5 md:p-8 lg:p-16 text-center">
                            <span class="text-xl font-bold text-[#0277BD]">Reintjes</span>
                            <span class="text-xl font-bold">Gears</span>
                        </div>
                    </div>
                </div>
                <div></div>
                <div class="flex justify-center animate__animated animate__bounce">
                    <a aria-label="Navigate down to what we do" href="#what">
                        <i class="fa fa-arrow-down text-2xl text-white border-4 px-10 py-2 rounded-full"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-around p-6 flex-initial rounded-md">
            <div id="what" class="flex-initial basis-1/2 mb-8">
                <h1 class="font-serif text-center lg:text-6xl text-white text-3xl md:text-6xl">What We Do</h1>
            </div>
            <div class="flex-initial basis-1/2 md:my-8">
                <div class="flex flex-col lg:flex-row justify-center gap-10 flex-wrap">
                    <a aria-label="Browse inboard engines" class="flex-initial basis-1/3" href="/inboard_engines.">
                        <div style="--image: url('/assets/image/webp/g1.webp');"
                            class="lazy-background text-xl lg:text-3xl grid-bg hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 p-20 text-center shadow-lg text-white">
                            <h1 class="font-sans mb-5">
                                Inboard Diesel Engines
                            </h1>
                        </div>
                    </a>
                    <a aria-label="Browse outboard engines" class="flex-initial basis-1/3" href="/outboard_engines/">
                        <div style="--image: url('/assets/image/webp/outboard.webp');"
                            class="lazy-background text-xl lg:text-3xl grid-bg hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 p-20 text-center shadow-lg  text-white">
                            <h1 class="font-sans mb-5">
                                Outboard Diesel Engines
                            </h1>
                        </div>
                    </a>
                    <a aria-label="Browse waterjets" class="flex-initial basis-1/3" href="/waterjets/">
                        <div style="--image: url('/assets/image/webp/g3.webp');"
                            class="lazy-background flex-initial h-full w-auto text-xl lg:text-3xl grid-bg hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 p-20 text-center shadow-lg  text-white">
                            <h1 class="font-sans mb-5">
                                Waterjets
                            </h1>
                        </div>
                    </a>
                    <a aria-label="Browse transmissions" class="flex-initial basis-1/3" href="/transmissions/">
                        <div style="--image: url('/assets/image/webp/g5.webp');"
                            class="lazy-background lazy-background flex-initial text-xl lg:text-3xl grid-bg hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 p-20 text-center shadow-lg  text-white">
                            <h1 class="font-sans mb-5">
                                Marine Transmissions
                            </h1>
                        </div>
                    </a>
                    <a aria-label="Browse generators" class="flex-initial basis-1/3" href="/generators/">
                        <div style="--image: url('/assets/image/webp/g4.webp');"
                            class="lazy-background flex-initial text-xl lg:text-3xl grid-bg hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 p-20 text-center shadow-lg  text-white">
                            <h1 class="font-sans mb-5">
                                Marine Generators
                            </h1>
                        </div>
                    </a>
                    <a aria-label="Browse electronics" class="flex-initial basis-1/3" href="/electronics/">
                        <div style="--image: url('/assets/image/webp/g6.webp');"
                            class="lazy-background flex-initial lg:text-3xl text-xl grid-bg p-20 hover:shadow-2xl hover:cursor-pointer hover:-translate-y-1 hover:-translate-x-1 transition-all basis-1/3 text-center shadow-lg  text-white">
                            <h1 class="font-sans mb-5">
                                Marine Electronics
                            </h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </div>
    <script src="/scroll.js"></script>
</body>

</html>
{{end}}