{{define "locations"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <h1 class="text-6xl font-serif capitalize text-center">Office Locations</h1>
        <div class="grid auto-rows-max grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:mx-44 md:gap-2 lg:gap-8">
            <div class="flex basis-1/2 md:border flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">North Florida</h2>
                <p class="font-thin">ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                    industry leaders and offer complementary systems and services. We are proud to work with E4
                    Power to
                    offer exhaust systems for marine and industrial applications.
                </p>
                    <a href="#" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Central Florida</h2>
                    <p class="font-thin">ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                    <a href="#" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">South Florida</h2>
                    <p class="font-thin">ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                <div class="flex flex-row-reverse justify-end">
                    <a href="#" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Michigan</h2>
                <p class="font-thin">ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                    industry leaders and offer complementary systems and services. We are proud to work with E4
                    Power to
                    offer exhaust systems for marine and industrial applications.
                </p>
                    <a href="#" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Virginia</h2>
                    <p class="font-thin">ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                    <a href="#" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</body>

</html>

{{end}}
