{{define "locations"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <h1 class="text-6xl font-serif capitalize text-center">Locations</h1>
        <div class="grid grid-rows-3 grid-cols-1 md:grid-cols-2 lg:mx-44 md:gap-2 lg:gap-8">
            <div class="flex basis-1/2 md:border flex-col p-5 items-center gap-5 text-left rounded-md">
                <picture class="lg:basis-1/2">
                    <source srcset="/assets/image/avif/northFL.avif" type="image/avif">
                    <img class="rounded-md object-fit " src="/assets/image/jpg/northFL.jpg"
                        alt="">
                </picture>
                <h2 class="text-4xl text-left font-serif">North Florida</h2>
                <p>ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                    industry leaders and offer complementary systems and services. We are proud to work with E4
                    Power to
                    offer exhaust systems for marine and industrial applications.
                </p>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 items-center gap-5 text-left rounded-md">
                <picture class="lg:basis-1/2">
                    <source srcset="/assets/image/avif/MI.avif" type="image/avif">
                    <img class="rounded-md object-fit " src="/assets/image/jpg/MI.jpg"
                        alt="">
                </picture>
                <h2 class="text-4xl text-left font-serif">Michigan</h2>
                <p>ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                    industry leaders and offer complementary systems and services. We are proud to work with E4
                    Power to
                    offer exhaust systems for marine and industrial applications.
                </p>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 items-center gap-5 text-left rounded-md">
                <picture class="lg:basis-1/2">
                    <source srcset="/assets/image/avif/centralFL.avif" type="image/avif">
                    <img class="rounded-md object-fit " src="/assets/image/jpg/centralFL.jpg"
                        alt="">
                </picture>
                <h2 class="text-4xl text-left font-serif">Central Florida</h2>
                <div
                    class="flex flex-col gap-5 text-left items-center justify-start basis-1/2 font-thin text-lg text-black">
                    <p>ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                </div>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 items-center gap-5 text-left rounded-md">
                <picture class="lg:basis-1/2">
                    <source srcset="/assets/image/avif/southFL.avif" type="image/avif">
                    <img class="rounded-md object-fit " src="/assets/image/jpg/southFL.jpg"
                        alt="">
                </picture>
                <h2 class="text-4xl text-left font-serif">South Florida</h2>
                <div
                    class="flex flex-col gap-5 text-left items-center justify-start basis-1/2 font-thin text-lg text-black">
                    <p>ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                </div>
            </div>
            <div class="flex basis-1/2 md:border flex-col p-5 items-center gap-5 text-left rounded-md">
                <picture class="lg:basis-1/2">
                    <source srcset="/assets/image/avif/VA.avif" type="image/avif">
                    <img class="rounded-md object-fit " src="/assets/image/jpg/VA.jpg"
                        alt="">
                </picture>
                <h2 class="text-4xl text-left font-serif">Virginia</h2>
                <div
                    class="flex flex-col gap-5 text-left items-center justify-start basis-1/2 font-thin text-lg text-black">
                    <p>ADR's goal to become a one-stop-shop for marine customers has led us to collaborate with other
                        industry leaders and offer complementary systems and services. We are proud to work with E4
                        Power to
                        offer exhaust systems for marine and industrial applications.
                    </p>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</body>

</html>

{{end}}
