{{define "locations"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <h1 class="text-6xl font-serif capitalize text-center">Locations</h1>
        <div class="grid auto-rows-max grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:mx-44 md:gap-2 lg:gap-8">
            <div class="flex basis-1/2 flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">North Florida</h2>
                <p class="font-thin"> Our skilled technicians are ready to handle all your transmission and engine needs
                    with precision and expertise. Trust us to keep your vessel running smoothly and efficiently.</p>
                <a href="/locations/north-florida" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info
                    <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Central Florida</h2>
                <p class="font-thin">Situated in the heart of the Sunshine State, we are committed to delivering
                    top-quality marine transmission repair and diesel engine repair services to the boating community in
                    this vibrant region. Our experienced technicians are equipped with the knowledge and tools to handle
                    any transmission or engine issue you may encounter. Count on us for exceptional service and
                    unmatched customer satisfaction.</p>
                <a href="/locations/central-florida" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info
                    <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">South Florida</h2>
                <p class="font-thin">Located in the largest yacht building and repair facility in the country, and the
                    preferred yard of choice to some of the most prestigious builders worldwide, the Safe Harbor
                    Lauderdale Marine Center. Our marine transmission repair and diesel engine repair services are
                    designed to keep your vessel in peak condition, ensuring optimal performance on the open waters.
                    With our expertise and dedication, your boating experience in South Florida will be nothing short of
                    extraordinary.</p>
                <div class="flex flex-row-reverse justify-end">
                    <a href="/locations/south-florida" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More
                        Info <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="flex basis-1/2 flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Michigan</h2>
                <p class="font-thin">Located in the Great Lakes region, we understand the unique needs of boat owners in
                    this area. Our marine transmission repair and diesel engine repair services are tailored to ensure
                    your vessel operates smoothly in the challenging freshwater conditions. </p>
                <a href="/locations/michigan" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i
                        class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="flex basis-1/2 flex-col p-5 justify-between items-center gap-5 text-left rounded-md">
                <h2 class="text-4xl text-left font-serif">Virginia</h2>
                <p class="font-thin">Serving the boating community in this picturesque coastal state, we specialize in
                    marine transmission repair and diesel engine repair services. Whether you have a recreational boat
                    or a commercial vessel, our highly skilled technicians are equipped to handle all your transmission
                    and engine needs. Trust us to deliver exceptional results and get you back on the water with
                    confidence.</p>
                <a href="/locations/virginia" class="p-3 bg-sky-900 rounded-lg text-white align-middle">More Info <i
                        class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</body>

</html>

{{end}}