@font-face {
  font-family: 'Merriweather Sans';
  src: url('/assets/font/merriweathersans.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/font/merriweather.woff2') format('woff2');
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('/assets/font/cutivemono.woff2') format('woff2');
}

[x-cloak] {
  display: none !important;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.grid-bg {
  --color-v: transparent;
  --color: grey;

  background: var(--color-v);
}

.grid-bg.visible {
  display: auto;
  --color-v: transparent;
  --color: grey;
  --image: url('/assets/image/webp/g1.webp');

  background:
    radial-gradient(circle, transparent 40%, var(--color-v) 75%),
    linear-gradient(to right, var(--color), var(--color)),
    var(--image);
    background-position: center center;
    background-size: cover;
    background-blend-mode:
    var(--blend-top, normal),
    var(--blend-bottom, multiply),
    normal;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;